/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  background: url(https://cdn.pixabay.com/photo/2016/03/24/08/31/football-1276327_1280.jpg) no-repeat center;
  background-size: 100%;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

